mdw-labs/hw5/AccountServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://service.web.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.web.com/">
   <xsd:complexType name="balance">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="checkResponse">
      <xsd:sequence>
         <xsd:element name="return" type="xsd:boolean" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="changeBalance">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
         <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
         <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="transfer">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
         <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
         <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="transferResponse">
      <xsd:sequence>
         <xsd:element name="return" type="xsd:boolean" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="changeBalanceResponse">
      <xsd:sequence>
         <xsd:element name="return" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="check">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="balanceResponse">
      <xsd:sequence>
         <xsd:element name="return" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="balance" type="ns0:balance"/>
   <xsd:element name="checkResponse" type="ns0:checkResponse"/>
   <xsd:element name="changeBalance" type="ns0:changeBalance"/>
   <xsd:element name="transfer" type="ns0:transfer"/>
   <xsd:element name="transferResponse" type="ns0:transferResponse"/>
   <xsd:element name="changeBalanceResponse" type="ns0:changeBalanceResponse"/>
   <xsd:element name="check" type="ns0:check"/>
   <xsd:element name="balanceResponse" type="ns0:balanceResponse"/>
</xsd:schema>
