mdw-labs/hw5/AccountServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<definitions targetNamespace="http://service.web.com/" name="AccountServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://service.web.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.web.com/" schemaLocation="AccountServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="balance">
    <part name="parameters" element="tns:balance"/>
  </message>
  <message name="balanceResponse">
    <part name="parameters" element="tns:balanceResponse"/>
  </message>
  <message name="changeBalance">
    <part name="parameters" element="tns:changeBalance"/>
  </message>
  <message name="changeBalanceResponse">
    <part name="parameters" element="tns:changeBalanceResponse"/>
  </message>
  <message name="transfer">
    <part name="parameters" element="tns:transfer"/>
  </message>
  <message name="transferResponse">
    <part name="parameters" element="tns:transferResponse"/>
  </message>
  <message name="check">
    <part name="parameters" element="tns:check"/>
  </message>
  <message name="checkResponse">
    <part name="parameters" element="tns:checkResponse"/>
  </message>
  <portType name="AccountService">
    <operation name="balance">
      <input wsam:Action="http://service.web.com/AccountService/balanceRequest" message="tns:balance"/>
      <output wsam:Action="http://service.web.com/AccountService/balanceResponse" message="tns:balanceResponse"/>
    </operation>
    <operation name="changeBalance">
      <input wsam:Action="http://service.web.com/AccountService/changeBalanceRequest" message="tns:changeBalance"/>
      <output wsam:Action="http://service.web.com/AccountService/changeBalanceResponse" message="tns:changeBalanceResponse"/>
    </operation>
    <operation name="transfer">
      <input wsam:Action="http://service.web.com/AccountService/transferRequest" message="tns:transfer"/>
      <output wsam:Action="http://service.web.com/AccountService/transferResponse" message="tns:transferResponse"/>
    </operation>
    <operation name="check">
      <input wsam:Action="http://service.web.com/AccountService/checkRequest" message="tns:check"/>
      <output wsam:Action="http://service.web.com/AccountService/checkResponse" message="tns:checkResponse"/>
    </operation>
  </portType>
  <binding name="AccountServicePortBinding" type="tns:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="balance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="changeBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transfer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="check">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AccountServiceService">
    <port name="AccountServicePort" binding="tns:AccountServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

